</div> <!-- #content_area -->
                            
                        </section>
                    </div> <!-- .row -->
                </div> <!-- .container -->
                <footer class="footer" data-ui-block="footer-1">
                    <div class="footer__section pt--base">
                        <div class="container">
                            <div class="row">
                                <div class="flex-sm-and-up">
                                    <div class="footer__logo col-xs-12 col-sm-6 col-md-3 col-lg-2 text-center-xs">
                                        <!-- Content populated with javascript -->
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 text-center-xs text-right-sm">
                                        <section class="microblock social" data-v-edit-region="Footer Social Media Links"><div class="microblock__body">
                                                <ul class="social__list list-unstyled">
                                                    <li class="social__item">
                                                        <a class="social__link facebook" href="https://www.facebook.com/ojalathreads" target="_blank" title="Like Ojala Threads on Facebook">
                                                            <p class="sr-only">Like Ojala Threads on Facebook</p>
                                                            <i class="ion ionicons ion-social-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="social__item">
                                                        <a class="social__link twitter" href="https://twitter.com/ojalathreads" target="_blank" title="Follow Ojala Threads on Twitter">
                                                            <p class="sr-only">Follow Ojala Threads on Twitter</p>
                                                            <i class="ion ionicons ion-social-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="social__item">
                                                        <a class="social__link instagram" href="https://instagram.com/ojalathreads" target="_blank" title="Follow Ojala Threads on Instagram">
                                                            <p class="sr-only">Follow Ojala Threads on Instagram</p>
                                                            <i class="ion ionicons ion-social-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="social__item">
                                                        <a class="social__link pinterest" href="https://www.pinterest.com/ojalathreads" target="_blank" title="Pin Ojala Threads to Pinterest">
                                                            <p class="sr-only">Pin Ojala Threads to Pinterest</p>
                                                            <i class="ion ionicons ion-social-pinterest"></i>
                                                        </a>
                                                    </li>
                                                    <li class="social__item">
                                                        <a class="social__link rss" href="http://www.blogspot.com/" target="_blank" title="Subscribe to Ojala Threads's Blog">
                                                            <p class="sr-only">Subscribe to Ojala Threads's Blog</p>
                                                            <i class="ion ionicons ion-social-rss"></i>
                                                        </a>
                                                    </li>
                                                    <!--
                                                    <li class="social__item">
                                                        <a class="social__link youtube" href="https://www.youtube.com/" target="_blank" title="Subscribe to Ojala Threads's YouTube Channel">
                                                            <p class="sr-only">Subscribe to Ojala Threads's YouTube Channel</p>
                                                            <i class="ion ionicons ion-social-youtube"></i>
                                                        </a>
                                                    </li>
                                                    <li class="social__item">
                                                        <a class="social__link gplus" href="https://plus.google.com/" target="_blank" title="Add Ojala Threads to Your Google+ Circle">
                                                            <p class="sr-only">Add Ojala Threads to Your Google+ Circle</p>
                                                            <i class="ion ionicons ion-social-googleplus"></i>
                                                        </a>
                                                    </li>
                                                    <li class="social__item">
                                                        <a class="social__link linked-in" href="https://www.linkedin.com/" target="_blank" title="Connect with Ojala Threads on LinkedIn">
                                                            <p class="sr-only">Connect with Ojala Threads on LinkedIn</p>
                                                            <i class="ion ionicons ion-social-linkedin"></i>
                                                        </a>
                                                    </li>
                                                    -->
                                                </ul>
                                            </div></section>
                                    </div>
                                    <div class="col-xs-12 text-center-sm-and-down text-right-md col-md-6 col-lg-4">
                                        <ul class="link-column list-unstyled clearfix" data-v-edit-region="Link Column 1">
                                        	<li class="link-column__item">
                                        	    <a href="/aboutus.asp" title="About Ojala Threads">ABOUT</a>
                                        	</li>
                                            <li class="link-column__item">
                                                <a href="/Articles.asp?ID=5" title="About Ojala Threads">PRIVACY POLICY</a>
                                            </li>
                                            <li class="link-column__item">
                                                <a href="/Articles.asp?ID=3" title="About Ojala Threads">RETURN POLICY</a>
                                            </li>
                                        	<li class="link-column__item">
                                        	    <a href="/myaccount.asp" title="My Account" rel="nofollow">MY ACCOUNT</a>
                                        	</li>
                                        	<li class="link-column__item">
                                        	    <a href="mailto:ojalathreads@gmail.com?subject=&quot;Contact Us&quot;" title="Contact Ojala Threads">CONTACT</a>
                                        	</li>
                                        </ul>                    </div>
                                    <div class="elist__wrapper col-xs-12 col-lg-4 text-center-xs text-center-md text-right-lg">
                                        <div class="col-sm-8 col-sm-offset-2 col-md-6col-md-offset-3 col-lg-12 col-lg-offset-0 no-pad">
                                            <section class="microblock elist ">
                                                <div class="microblock__body">
                                                    <h2 class="footer__title elist__title" data-v-edit-region="Elist Title">NEWSLETTER</h2>
                                                    <form class="elist__form" name="MailingList" method="post" action="/mailinglist_subscribe.asp">
                                                        <label for="elistEmailAddress" class="elist__label sr-only">Enter your email Address</label>
                                                        <div class="input-group">
                                                            <input class="elist__input form-control" id="elistEmailAddress" type="text" name="emailaddress" value="" placeholder="Email Address">
                                                            <span class="input-group-btn">
                                                                <button class="elist__submit btn" type="submit" name="Submit">
                                                                    SUBMIT
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </section>                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__section">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 text-center-xs">
                                    <!-- Copyright -->
                                    <section class="copyright microblock">
                                        <a href="/terms.asp" title="Terms">
                                            <span data-v-edit-region="Copyright">
                                                &copy; Copyright  <span class="insertYear">2015</span>&nbsp;Ojala Threads.
                                            </span>
                                        </a>
                                        <span class="copyright__line" data-v-edit-region="Built With">
                                            All Rights Reserved.
                                            Ecommerce Software by Volusion
                                            <!-- #if_not_hompage -->
                                        </span>
                                    </section>
                                </div>
                                <div class="col-xs-12 col-md-6 text-center-xs text-right-sm-and-up">
                                    <!-- Credit Cards -->
                                    <div class="credit-cards microblock" data-v-edit-region="Credit Card Icons">
                                        <svg class="visa icon">
                                            <use xlink:href="#svg-visa"></use>
                                        </svg>
                                        <svg class="mc icon">
                                            <use xlink:href="#svg-mc"></use>
                                        </svg>
                                        <svg class="amex icon">
                                            <use xlink:href="#svg-amex"></use>
                                        </svg>
                                        <svg class="discover icon">
                                            <use xlink:href="#svg-discover"></use>
                                        </svg>
                                        <svg class="paypal icon">
                                            <use xlink:href="#svg-paypal"></use>
                                        </svg>
                                    </div>                    <!-- Volusion SSL -->
                                    <section class="ssl microblock">
                                        <div class="microblock__body">
                                            <a id="ssl__link" href="javascript:void(0);" rel="nofollow">
                                            	<p class="sr-only">View SSL Certificate</p>
                                                <svg class="icon">
                                                    <use xlink:href="#svg-ssl-simple"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div> <!-- .page-wrap -->
        </section>
    </article>
    
    <!-- IE9 FIX - CATEGORY GRID LAYOUT -->
    <!--[if IE 9]><script>"searchresults.asp"===PageName()&&!function(e){e(document).ready(function(){var r,t=0,n=0,i=new Array,h=0;e(".v-product").each(function(){if(r=e(this),h=r.position().top,n!=h){for(currentDiv=0;currentDiv<i.length;currentDiv++)i[currentDiv].height(t);i.length=0,n=h,t=r.height(),i.push(r)}else i.push(r),t=t<r.height()?r.height():t;for(currentDiv=0;currentDiv<i.length;currentDiv++)i[currentDiv].height(t)})})}($jQueryModern);</script><![endif]-->
    <script src="/v/vspfiles/templates/266/js/min/template.min.js"></script>



<script type="text/javascript">function store_init(event){} AttachEvent(window, 'load', store_init);</script>

<script type="text/javascript">
    if (!/\/shoppingcart\.asp/i.test(window.location.pathname)) {
        jQuery(document).ready(function() {
            jQuery('a').each(AddCartLink)
        });
    }
</script>

  <script>
     if (document.getElementsByName("MailingList")[0]) {
        var emailSubscribeForm = document.getElementsByName("MailingList")[0];
        disableSubscribeSubmit = function() {
          emailSubscribeButton.removeAttribute("type");
        }
        forwardToMailingList = function(e) {
            var subscribeEmail = emailSubscribeForm.querySelector("input").value;
          sessionStorage.setItem("subEmailAddress", subscribeEmail);
          emailSubscribeForm.submit();
        }

        if (emailSubscribeForm.querySelector("button")) {
            var emailSubscribeButton = emailSubscribeForm.querySelector("button");
            emailSubscribeButton.addEventListener("click", forwardToMailingList);
        }
    }
  </script>

</body>
</html>